.body{
    max-width: 80rem;
    background-color: #111;
    background-position: right;
     height: 100vh;
    overflow: hidden;
    color: white;
    background-image: url('b7897c78-48b1-4d94-9937-4df9b19ab0d6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 3;
}
.mi{
    font-family: "Hind Siliguri", serif;
    font-weight: 800;
    
}

.hover:hover{
    color:rgba(0, 250, 12, 0.829);
}