.body{
    max-width: 80rem;
    background-color: #111;
    background-position: right;
     height: 100vh;
    overflow: hidden;
    color: white;
    background-image: url('b7897c78-48b1-4d94-9937-4df9b19ab0d6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 3;
}
.mi{
    font-family: "Hind Siliguri", serif;
    font-weight: 800;
    
}

.hover:hover{
    color:rgba(0, 250, 12, 0.829);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    padding: 10px 20px;
}

.navbar .logo {
    color: white;
    font-size: 24px;
}

.navbar .nav-links {
    list-style-type: none;
    display: flex;
}

.navbar .nav-links li {
    margin: 0 15px;
}

.navbar .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
}

@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        /* background-color: #333; */
    }

    .navbar .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }

    .navbar.active .nav-links {
        display: flex;
    }
}
